div#login {
  opacity: 0;
  animation: fadeIn .5s ease-in forwards;
  
  a {
    background: #1DB954;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 25px;
  }
}

div#auth {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  
  input {
    width: 300px;
    height: 40px;
  }
  button {
    width: 300px;
    height: 40px;
    margin-top: 8px;
  }
}

div#onboard {
  opacity: 0;
  animation: fadeIn .5s ease-in forwards;
  display: flex;
  justify-content: center;    
  align-items: center;
  flex-direction: column;
  
  div.kbd-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    
    kbd {
      border-radius: 8px;
      padding: 3px 10px;
      font-size: 30px;
      margin: 0 3px;
      background-color: rgba(222, 222, 222, 0.18);  
    }
  }
  
  button.lfg {
    background-color: rgba(203, 203, 203, 0.966);
    font-weight: 600;
    margin-top: 45px;
    color: #222;
    padding: 6px 12px;
    border-radius: 7px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
