div#login {
  opacity: 0;
  animation: fadeIn .5s ease-in forwards;
  
  a {
    background: #1DB954;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 25px;
  }
}

div#auth {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  
  input {
    width: 300px;
    height: 40px;
  }
  button {
    width: 300px;
    height: 40px;
    margin-top: 8px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

