div#login {
  a {
    background: #1DB954;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 25px;
  }
}

div#auth {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  input {
    width: 260px;
    height: 40px;
  }
  button {
    margin-left: 5px;
    height: 40px;
  }
}
