@import './auth.scss';
@import './loader.scss';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  color-scheme: dark;

  --grey12: #171717;
  --grey11: #202020;
  --grey10: #333333;
  --grey9: #464646;
  --grey8: #696969;
  --grey7: #858585;
  --grey6: #adadad;
  --grey5: #c9c9c9;
  --grey4: #dedede;
  --grey3: #ececec;
  --grey2: #f2f2f2;
  --grey1: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #ffffff30;
  color: var(--grey2);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--grey12);
}

::-webkit-scrollbar-thumb {
  background: var(--grey10);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--grey9);
}

.dialog {
  width: 500px;
  height: 500px;
  background: var(--grey12);
  border: 1px solid  var(--grey10);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 10px 10px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.searchContainer {
  border-bottom: var(--grey10) 1px solid;
  
  kbd {
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 10px;
    margin-left: 5px;
    font-family: monospace;
    background-color: rgba(222, 222, 222, 0.18);
  }
}

.searchBar {
  border: none;
  padding: 15px 20px 20px;
  background-color: transparent;
  font-size: 14px;
  height: 50px;
  width: 80%;
  outline: 0;
  font-family: inherit;
  font-weight: 600;
  
  &::placeholder {
    color: var(--grey5);
  }
}

.commandWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 400px;
  height: 100%;
  padding: 10px 20px;
}

.content {
  overflow-y: scroll;
  padding: 0 8px 0 6px;
  scroll-behavior: smooth;
  scroll-padding: 300px;
  
}

.nowPlaying {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  align-items: center;
  margin-bottom: 5px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.063);
  justify-content: space-between;

  .widget {
    display: flex;
    width: 80%;
    margin-left: 15px;
    
    .currentTrack {
      margin-left: 15px;
      
      h4 {
        font-size: 16px;
        font-weight: 600;
      }
      
      p {
        font-size: 13px;
        margin-top: -3px;
        color: var(--grey7);
      }
    }
    img {
      border-radius: 5px;
      width: 50px;
      height: 50px;
    }
  }
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    
    i.ri-skip-back-fill, i.ri-skip-forward-fill {
      font-size: 17px;
    }
    
    i.ri-pause-circle-fill, i.ri-play-circle-fill {
      font-size: 38px;
    }
  }
  
  kbd {
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 10px;
    margin-right: 4px;
    font-family: monospace;
    background-color: rgba(222, 222, 222, 0.18);
  }
}

.display {

}
.option {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  
  transition: background-color 0.2s ease-in-out;
  

  &.active {
    background-color: rgba(255, 255, 255, 0.063);
    cursor: pointer;
  }
  
  .left {
    display: flex;
    align-items: center;
    width: 70%;
  }
  h4 {
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  
  }
  p {
    font-size: 11px;
    margin-top: -3px;
    color: var(--grey7);
  }
  
  .shortcuts {
    display: flex;
    
    kbd {
      padding: 3px 6px;
      border-radius: 2px;
      font-size: 14px;

      margin-left: 5px;
      font-family: monospace;
      background-color: rgba(130, 130, 130, 0.125);
    }
  }
}

.footer {
  border-top: var(--grey10) 1px solid;
  height: 43px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  
  div {
    display: flex;
    align-items: center;
    padding: 0 8px;
  }
  p {
    font-size: 12px;
    margin-left: 5px;
    
  }
  kbd {
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 10px;

    margin-left: 5px;
    font-family: monospace;
    background-color: rgba(222, 222, 222, 0.18);
  }
  
  .upgrade {
    display: flex;
    padding-left: 35px;
  }
}

.option {
  animation: slideIn 0.2s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideIn {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@for $i from 1 through 10 {
  .option:nth-child(#{$i}) {
    animation-delay: calc(0.1s * (#{$i} - 1));
  }
}
